.footer {
  color: $pure-white;
  background-color: $dark;

  .wrapper {
    padding: 6em 2em 2em;
  }

  &__box-desktop {
    display: none;
  }
  &__box-title {
    margin-bottom: 1em;
    font-size: 3rem;
    text-transform: uppercase;
  }
  &__box-social {
    margin: 2em 0 1em;
  }
  &__box-link {
    font-size: 3.6rem;
    padding: 0 0.3em;
    color: $pure-white;
    text-decoration: none;
    transition: color 0.3s;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $light-white;
    }
  }
  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer {
    &__boxes {
      display: flex;
      justify-content: space-between;
    }
    &__box-desktop {
      display: block;
    }

    &__box {
      margin: 0 2em;
      width: 25%;

      &:first-child {
        width: 50%;
      }
    }
    &__box-title {
      font-size: 2.4rem;
    }
    &__box-list {
      list-style-type: none;
    }
    &__box-list-item {
      margin-bottom: 1em;
      color: $light-white;
      text-decoration: none;
    }
  }
}
