.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: $blue-gradient-solid;
  z-index: 100;
  &__items {
    position: relative;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em 2em;
    font-size: 2.8rem;
    color: $pure-white;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $pure-white;
      transform: scaleY(0);
      transition: transform 0.5s;
    }

    &:hover::before {
      transform: scaleY(1);
    }
  }
}
