.offers {
  position: relative;
  @include heroImages("../img/maldives-640.jpg");
  overflow: hidden;

  .section__heading {
    color: $pure-white;
  }

  &__option {
    margin: 1em auto;
    box-shadow: 5px 5px 5px 5px #2e2e2e2e;
    background-color: $pure-white;
    overflow: hidden;

    &-img {
      width: 100%;
      transition: transform 3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-info {
      padding: 2em;
    }
    &-heading {
      margin-bottom: 0.5em;
      font-size: 2.4rem;
      font-weight: 300;
    }

    &-text {
      margin-bottom: 0.5em;
      font-size: 1.3rem;
      color: $dark;
    }
    &-btn {
      margin-top: 1em;
      padding: 0.8em;
      width: 100%;
      color: $pure-white;
      background-color: $main-color;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &::before {
        background-color: $secondary-color;
      }
    }
  }
}
@media (min-width: 576px) {
  .offers {
    &__option {
      display: flex;
      margin: 2em 0;
      width: 100%;

      &-img {
        width: 50%;
        height: auto;

        &--right {
          order: 1;
        }
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
      }
      &-heading {
        text-align: center;
        font-size: 3.6rem;
        margin-bottom: 0.5em;
      }
      &-text {
        font-size: 1.5rem;
      }
    }
  }
}
@media (min-width: 992px) {
  .offers {
    background-image: $blue-gradient, url("../img/maldives-1920.jpg");

    &-img {
      object-fit: cover;
      height: 300px;
    }
  }
}
