.offers {
  position: relative;
  @include heroImages("../img/maldives-640.jpg");
  overflow: hidden;

  .section__heading {
    color: $pure-white;
  }

  &__option {
    margin: 1em auto;
    box-shadow: 5px 5px 5px 5px #2e2e2e2e;
    background-color: $pure-white;
    overflow: hidden;

    &-img {
      width: 100%;
      transition: transform 3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-info {
      padding: 2em;
    }
    &-heading {
      margin-bottom: 0.5em;
      font-size: 2.4rem;
      font-weight: 300;
    }

    &-text {
      margin-bottom: 0.5em;
      font-size: 1.3rem;
      color: $dark;
    }
    &-btn {
      margin-top: 1em;
      padding: 0.8em;
      width: 100%;
      color: $pure-white;
      background-color: $main-color;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &::before {
        background-color: $secondary-color;
      }
    }
  }
}
