.reviews {
  &__box {
    position: relative;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #2e2e2e2e;
    height: auto;
    transition: transform 0.3s;

    &:hover {
      transform: scale(0.95);
    }
  }

  &__box-img {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: translate(-50%, -50%);

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__box-quote {
    margin-bottom: 1em;
    color: $main-color;
    font-size: 3rem;
  }
  &__box-text {
    margin-bottom: 1em;
    font-size: 1.4em;
    color: $dark;
  }
}

@media (max-width: 767px) {
  .reviews.section__padding {
    padding: 6em 0;
  }
}
